[submodule "src/ros2_jetson_stats"]
	path = src/ros2_jetson_stats
	url = https://github.com/NVIDIA-AI-IOT/ros2_jetson_stats.git
[submodule "src/f1tenth_system/vesc"]
	path = src/f1tenth_system/vesc
	url = git@github.com:duartetdomingues/vesc.git
