[submodule "src/ros2_jetson_stats"]
	path = src/ros2_jetson_stats
	url = https://github.com/NVIDIA-AI-IOT/ros2_jetson_stats.git
[submodule "src/f1tenth_system/vesc"]
	path = src/f1tenth_system/vesc
	url = git@github.com:duartetdomingues/vesc.git
[submodule "src/robot_localization"]
	path = src/robot_localization
	url = git@github.com:cra-ros-pkg/robot_localization.git
[submodule "src/zed-ros2-wrapper"]
	path = src/zed-ros2-wrapper
	url = git@github.com:duartetdomingues/zed-ros2-wrapper.git