#!/usr/bin/env python
PACKAGE = "learning_mpcc"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# Load the default parameter values from YAML
import yaml
import os
current_path = os.path.dirname(os.path.abspath(__file__))
parent_path = os.path.dirname(current_path) 
with open(parent_path + '/config/default.yaml', 'r') as f:
    yaml_params = yaml.load(f, Loader=yaml.Loader)

gen.add("alpha_CL", double_t,    0, "Centerline Cost", yaml_params['mpc_params']['objective']['alpha_CL'])
gen.add("alpha_L", double_t,    0, "Lag Cost", yaml_params['mpc_params']['objective']['alpha_L'])
gen.add("q_r", double_t,    0, "Yaw Rate Cost", yaml_params['mpc_params']['objective']['q_r'])
gen.add("e_CL_exp", double_t,    0, "Centerline Exponential", yaml_params['mpc_params']['objective']['e_CL_exp'])
gen.add("d_max", double_t,    0, "Max Throttle", yaml_params['mpc_params']['objective']['d_max'])
gen.add("beta_steer", double_t,    0, "Steering Cost", yaml_params['mpc_params']['objective']['beta_steer'])
gen.add("lambda", double_t,    0, "Progress Cost (inverse)", yaml_params['mpc_params']['objective']['lambda'])
gen.add("v_max", double_t,    0, "Max Velocity", yaml_params['mpc_params']['objective']['v_max'])
gen.add("q_v_max", double_t,    0, "Max Velocity Cost", yaml_params['mpc_params']['objective']['q_v_max'])
gen.add("l_f", double_t,    0, "Front Axle to CG", yaml_params['model_params']['l_f'])
gen.add("l_r", double_t,    0, "Rear Axle to CG", yaml_params['model_params']['l_r'])
gen.add("m", double_t,    0, "Mass", yaml_params['model_params']['m'])
gen.add("I_z", double_t,    0, "Yaw Inertia", yaml_params['model_params']['I_z'])
gen.add("T_max_front", double_t,    0, "Max Front Torque", yaml_params['model_params']['T_max_front'])
gen.add("T_max_rear", double_t,    0, "Max Rear Torque", yaml_params['model_params']['T_max_rear'])
gen.add("T_brake_front", double_t,    0, "Max Front Brake", yaml_params['model_params']['T_brake_front'])
gen.add("T_brake_rear", double_t,    0, "Max Rear Brake", yaml_params['model_params']['T_brake_rear'])
gen.add("GR", double_t,    0, "Gear Ratio", yaml_params['model_params']['GR'])
gen.add("eta_motor", double_t,    0, "Motor Efficiency", yaml_params['model_params']['eta_motor'])
gen.add("r_wheel", double_t,    0, "Wheel Radius", yaml_params['model_params']['r_wheel'])
gen.add("g", double_t,    0, "Gravity", yaml_params['model_params']['g'])
gen.add("C_roll", double_t,    0, "Rolling Resistance", yaml_params['model_params']['C_roll'])
gen.add("rho", double_t,    0, "Air Density", yaml_params['model_params']['rho'])
gen.add("lambda_blend_min", double_t,    0, "Min Blend", yaml_params['model_params']['lambda_blend_min'])
gen.add("lambda_blend_max", double_t,    0, "Max Blend", yaml_params['model_params']['lambda_blend_max'])
gen.add("C_d", double_t,    0, "Drag Coefficient", yaml_params['model_params']['C_d'])
gen.add("C_l", double_t,    0, "Lift Coefficient", yaml_params['model_params']['C_l'])
gen.add("B", double_t,    0, "Tyre B", yaml_params['tyre_params']['B'])
gen.add("C", double_t,    0, "Tyre C", yaml_params['tyre_params']['C'])
gen.add("D", double_t,    0, "Tyre D", yaml_params['tyre_params']['D'])
gen.add("downforce_front", double_t,    0, "Downforce at the front", yaml_params['model_params']['downforce_front'])
gen.add("downforce_rear", double_t,    0, "Downforce at the rear", yaml_params['model_params']['downforce_rear'])
gen.add("beta_throttle", double_t,    0, "Throttle Cost", yaml_params['mpc_params']['objective']['beta_throttle'])
gen.add("h_cog", double_t,    0, "CoG height", yaml_params['model_params']['h_cog'])
gen.add("mu_x", double_t,    0, "Friction Coefficient in x", yaml_params['tyre_params']['mu_x'])
gen.add("mu_y", double_t,    0, "Friction Coefficient in y", yaml_params['tyre_params']['mu_y'])
gen.add("e_CL_max", double_t,    0, "Max Centerline Error", yaml_params['mpc_params']['ineq_limits']['e_CL_max'])
gen.add("delta_s_max", double_t,    0, "Max Progress", yaml_params['mpc_params']['ineq_limits']['delta_s_max'])
gen.add("throttle_max", double_t,    0, "Max Throttle", yaml_params['mpc_params']['ineq_limits']['throttle_max'])
gen.add("steering_max", double_t,    0, "Max Steering", yaml_params['mpc_params']['ineq_limits']['steering_max'])
gen.add("delta_throttle_max", double_t,    0, "Max Throttle Change", yaml_params['mpc_params']['ineq_limits']['delta_throttle_max'])
gen.add("delta_steering_max", double_t,    0, "Max Steering Change", yaml_params['mpc_params']['ineq_limits']['delta_steering_max'])
gen.add("width", double_t,    0, "Vehicle Width", yaml_params['model_params']['width'])
gen.add("length", double_t,    0, "Vehicle Length", yaml_params['model_params']['length'])
gen.add("safety_margin", double_t,    0, "Safety Margin", yaml_params['mpc_params']['ineq_limits']['safety_margin'])
gen.add("beta_epsilon", double_t,    0, "Epsilon Cost", yaml_params['mpc_params']['objective']['beta_epsilon'])
gen.add("N", double_t,    0, "Prediction Horizon", yaml_params['mpc_params']['objective']['N'])
gen.add("controller_freq", double_t,    0, "Controller Frequency", yaml_params['controller_freq'])
gen.add("NN_flag", double_t,    0, "Neural Network Flag", yaml_params['NN_config']['NN'])
gen.add("p", double_t,    0, "Neural Network Order", yaml_params['mpc_params']['objective']['p'])
gen.add("beta_psi", double_t,    0, "Psi Cost", yaml_params['mpc_params']['objective']['beta_psi'])
gen.add("track_width", double_t,    0, "Track Width", yaml_params['model_params']['track_width'])
gen.add("diff_gain", double_t,    0, "Differential gain", yaml_params['model_params']['diff_gain'])

exit(gen.generate(PACKAGE, "learning_mpcc", "MPCParams"))